.admin-order-details-body {
  margin-left: 33%;
  margin-right: 10rem;
}

.admin-order-title {
  display: flex;
}

.order-products-body {
  border: 1px solid black;
  padding: 1rem;
}

.admin-order-products div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
}
