.product-card {
  background: white;
  border: 1px solid #100f0f;
  border-radius: 6px;
  box-sizing: border-box;
  height: 250px;
  margin: 3px;
  padding: 3px;
  width: 48%;
}

.unit-price {
  all: unset;
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
}

.product-name {
  font-size: 18px;
  height: 10%;
  margin: 10px;
  text-align: center;
}

.product-image {
  display: flex;
  height: 110px;
  justify-content: center;
}

.product-image img {
  height: 100%;
}
