.register-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.signup-inputs-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.register-btn-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.register-checkbox-section {
  margin: 1rem;
}
